nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 4rem;
}

nav li {
  list-style: none;
}

nav ul {
  display: flex;
  gap: 2rem;
}

button {
  background: #fff;
  color: #333;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #444;
  font-size: 2rem;
  color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 200ms;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-2px) scale(1.2);
}
