.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #444;
  font-size: 2rem;
  color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 200ms;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-2px) scale(1.2);
}
